{% include "header.html" %}

<section class="container-fluid" id="section1">
  <img src="/static/img/bsum_logo_notext.png" class="center-block v-center img-responsive" id="startlogo">
  	<h1 class="text-center with-tagline">Biotech Start-Up Management</h1>
    <h2 class="text-center tagline"><i>Resourcing Your Success</i></h2>
  	<div class="container">
      <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Devoted</h3><p>We are dedicated to deliver when we promise with the highest quality and reliability.</p><i class="fa fa-briefcase fa-5x"></i></div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1 text-center"><h3>Experienced</h3><p>Together we've got over 35 years of management and hands-on experience in Biotech business from start-up to exit.</p><i class="fa fa-wrench fa-5x"></i></div>
            </div>
          </div>
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col-sm-10 text-center"><h3>Customer oriented</h3><p>Our primary aim is to help you succeed. We listen to your needs and find the best way to meet your expectation.</p><i class="fa fa-user fa-5x"></i></div>
            </div>
          </div>
      </div><!--/row-->
  </div><!--/container-->
</section>

<section class="container-fluid" id="section5">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="container">
    <div class="row">
      <div class="col-sm-5 col-xs-12 col-sm-offset-1">
            <div class="list-group text-center">
              <div class="list-group-item active">
                <h2 class="list-group-item-heading">BSUM TUTL</h2>
                <!--<h6>Tailored service to support the growth</h6>-->
              </div>
              <div href="#" class="list-group-item">
                <p class="list-group-item-text">Market Feasibility Studies</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Funding Application</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Market Studies</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Business Model Analyses</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Spinout and Out-licensing Preparation</p>
              </div>
            </div>
      </div><!--/left-->

      <div class="col-sm-5 col-xs-12">
            <div class="list-group text-center">
              <div class="list-group-item active">
                <h2 class="list-group-item-heading">BSUM Start-Up</h2>
                <!--<h6>Network of trusted partners</h6>-->
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Start-Up Company Establishment</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Strategy and Business planning</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Fundraising and Technology Transfer</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Partner Identification</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Co-Entrepreneurship</p>
              </div>
            </div>
      </div><!--/middle-->

    </div><!--/row-->
    <div class="row">

      <div class="col-sm-5 col-xs-12 col-sm-offset-1">
            <div class="list-group text-center">
              <div class="list-group-item active">
                <h2 class="list-group-item-heading">BSUM Growth</h2>
                <!--<h6>Staffing and recruitment service</h6>-->
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Sales and Marketing</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Process and Quality Management</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Financial Management</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Staffing, Headhunting and Recruitment</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Out-licensing and Exit</p>
              </div>
            </div>
      </div><!--/middle-->

      <div class="col-sm-5 col-xs-12">
            <div class="list-group text-center">
              <div class="list-group-item active">
                <h2 class="list-group-item-heading">BSUM Training</h2>
                <!--<h6>Business coaching for companies and academia</h6>-->
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Strategy</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Fundraising</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Solution Selling</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Production and Delivery</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Exit and Valuation</p>
              </div>
            </div>
      </div><!--/right-->
    </div>
    <div class="row">

      <div class="col-sm-6 col-xs-12 col-sm-offset-3">
            <div class="list-group text-center">
              <a href="#footer" class="list-group-item active">
                <h2 class="list-group-item-heading">Contact us</h2>
                <h6>Contact us and request a meeting to discuss the details</h6>
              </a>
            </div>
      </div>
    </div>
    </div><!--/container-->
  </div>
</section>


<section class="container-fluid" id="section1b">
  <h2 class="text-center">Latest news</h2>
    <div class="container">
    <div class="row newsbox">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      {% if news_objects %}
          {% for new in news_objects %}
            <div class="newsitem">
              <h2>{{new.headline}}<br>
                {% if new.override_date %}
                <small>{{new.override_date.day}}.{{new.override_date.month}}.{{new.override_date.year}}</small>
                {% else %}
                <small>{{new.updated.day}}.{{new.updated.month}}.{{new.updated.year}}</small>
                {% endif %}
                </h2>
              <div class="newstext">{{new.content|linebreaks}}</div>
              {% if new.cut %}
              <p class="newstext cut"><a href="/news/">Read more</a></p>
              {% endif %}
            </div>
          {% endfor %}
        <h2>...</h2>
      {% else %}
      <h2>No news available</h2>
      {% endif %}
    </div>
  </div>
  </div><!--/container-->
</section>

<section class="container-fluid" id="section4">
	<h2 class="text-center">Meet the experts</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">

            <img class="img-responsive" src="/static/img/juhani.jpg">

            <h2>Juhani Lahdenperä</h2>

            <h4>Founder, M.Sc.</h4>

            <p>
              Juhani has worked over 15 years in the biotechnology business – last ten years as a start-up CEO or Operations Manager. He has been responsible for the day-to-day management of operations, fundraising and business development activities in his recent positions. He has also participated to basic research activities during his career and has published altogether five articles, one in Nature. Juhani has been awarded by Venture Cup and Nordic Center of Excellence in Disease Genetics. Further information on his background can be found from his  <a href="http://fi.linkedin.com/pub/juhani-lahdenperä/5/82/89a/"> LinkedIn-profile.</a></p>
            <p>
              Phone: +358 50 3669 502<br/>
              Email: firstname.surname@bsum.fi<br/>
            </p>
          </div>
          <div class="col-sm-4">

            <img class="img-responsive" src="/static/img/jari.jpg">

            <h2>Jari Rautio</h2>

            <h4>Partner, D.Sc</h4>

            <p>
              Jari Rautio has over 15 years of experience of life science tools development and commercialization as a principal investigator, VP of R&D and as a CEO.  Rautio has carried out several product and service development projects and commercial product launches to the international markets. Rautio´s key areas of expertise include innovation development from concept to sales, business development of life science companies, fundraising and quality management. Further information on his background can be found from his <a href="http://www.linkedin.com/profile/view?id=2580039&amp;locale=en_US&amp;trk=tyah&amp;trkInfo=tas%3Ajari%20rautio%2Cidx%3A1-1-1">LinkedIn-profile.</a>
            </p>

            <p>
              Phone: +358 50 3139 427<br/>
              Email: firstname.surname@bsum.fi<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="container-fluid" id="section3">
  <h1 class="text-center">Testimonials</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

          <blockquote>Bsum has given us indispensable help and advice with commercialization of our product. They have provided insight for finding the target groups for applications and routes for networking with the right people for development of the product. Finally, they helped us to secure TUTL-funding.
            <cite>
             <big>Anna Maria Pirttilä</big><br>
             &nbsp;&nbsp; &nbsp; PhD, Docent<br>
             &nbsp;&nbsp; &nbsp; University of Oulu
            </cite>
           </blockquote>

            <blockquote>Biotech Start-up Management has helped us with of one of our Life Sciences portfolio companies. Service included efficient operational management and restructuring to successfully engage key stakeholders e.g. in connection to capital raising efforts and partner negotiations. Duties were carried out with high motivation and commitment in challenging startup environment leaving a good impression of the professional skills and entrepreneurial attitude.
            <cite>
             <big>Kalle Åström</big><br>
             &nbsp;&nbsp; &nbsp; Venture Capital<br>
             &nbsp;&nbsp; &nbsp; Finnvera plc
            </cite>
            </blockquote>

            <blockquote>BSUM has provided us invaluable help and support during the foundation process of our recently established company. They have afforded guidance from the practical aspects of erecting a startup to business planning and networking with the investors and clients. Their skillful and professional services with an approachable and friendly attitude are highly appreciated and warmly recommended by us.
            <cite>
             <big>Juha Pulkkinen</big><br>
             &nbsp;&nbsp; &nbsp; Ph.D., Docent<br>
             &nbsp;&nbsp; &nbsp; Co-founder of FLX Discoveries Ltd.
            </cite>
            </blockquote>

            <blockquote>Jari and Juhani were the trainers in our “Feasibility Study for Roal Oy” course, where doctoral students in life sciences worked on an assignment commissioned by Roal Oy. The expertise and professionalism of the trainers were crucial for the success of the course and much appreciated by the students. Jari and Juhani were also commented on their commitment to the project, readiness to help and friendly attitude, making them easy to approach by the students. I am thus happy to recommend BSUM and look forward to working with them in future.
            <cite>
             <big>Ulla Tuomainen</big><br>
             &nbsp;&nbsp; &nbsp; PPh.D., Project Manager at PhDs to Business Life<br>
             &nbsp;&nbsp; &nbsp; University of Helsinki
            </cite>
            </blockquote>
        </p>
        <h3 class="text-center"><a href="/references/#section4">More references</a></h3>
      </div>
   </div>
</section>

<section class="container" id="section7">
	<h1 class="text-center">Tweets 'n' news</h1>
    <div class="row">
      <!--fontawesome icons-->
      <div class="col-sm-1 col-xs-4 text-center col-sm-offset-5">
       <i class="fa fa-twitter fa-4x"></i>
      </div>
      <div class="col-sm-1 col-xs-4 text-center">
      <a href="https://www.linkedin.com/company/biotech-start-up-management">
       	<i class="fa fa-linkedin fa-4x"></i>
      </a>
      </div>
  </div><!--/row-->
  <div class="twitter-container text-center">
    <a class="twitter-timeline" href="https://twitter.com/bsumfi" data-widget-id="559300538454781952">Tweets by @bsumfi</a>
  </div>
</section>

    {% include "footer.html" %}
    {% include "scripts.html" %}

    <script src="/static/js/scripts.js"></script>

    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
	</body>
</html>